<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="/node_modules/material-steppers/dist/material-steppers.min.css">
    <title>Desafio Angular</title>
</head>

<body ng-app="challengeApp" layout="row">

    <div ng-controller="MainController" flex="nogrow" style="width: 1024px; margin: 40px auto" ng-cloak>
        <md-stepper md-selected="tabIndex" md-linear="false">
            <md-step label=" ">
                <md-step-body>
                    <p>First things first: tell us a litle bit about yourself.</p>
                    <div layout="row" layout-xs="column">

                        <md-input-container flex="50">
                            <label>Your favorite commic superhero</label>
                            <input type="text" ng-model="answer.superhero" required>
                        </md-input-container>

                        <md-input-container flex="50">
                            <label>TV serie you currently watching</label>
                            <input type="text" ng-model="answer.serie" required>
                        </md-input-container>

                    </div>
                    <div layout="row" layout-xs="column">

                            <md-input-container flex="50">
                                <label>Wich one you use: Bolacha or Biscoito</label>
                                <input type="text" ng-model="answer.cookies" required>
                            </md-input-container>
                     
                            <md-input-container flex="50">
                                <label>What is the best quote ever</label>
                                <input type="text" ng-model="answer.quote" required>
                            </md-input-container>

                    </div>
                </md-step-body>
                <section layout="row" layout-sm="column" layout-align="space-around center" layout-wrap>
                    <md-button class="md-raised md-primary" ng-click="back()">Back</md-button>
                    <md-button class="md-raised md-primary" ng-click="next()">Next</md-button>
                </section>
            </md-step>
            <md-step label=" ">
                <md-content layout="column">
                    <p flex layout="column">
                        Which one of these is your favorite Star Wars movie?
                    </p>
                    <md-radio-group ng-model="answer.starWars" layout="row" layout-wrap flex>
                        <div ng-repeat="m in movies" flex="20">
                            <md-card>
                                <img ng-src="{{m.Poster}}" class="md-card-image" alt="{{m.Title}} ({{m.Year}})">
                                <md-card-actions layout="row" layout-align="center center">
                                    <md-radio-button value="{{$index}}">

                                    </md-radio-button>
                                </md-card-actions>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">{{m.Title}} ({{m.Year}})</span>
                                    </md-card-title-text>
                                </md-card-title>
                            </md-card>
                        </div>
                    </md-radio-group>
                </md-content>
                <section layout="row" layout-sm="column" layout-align="space-around center" layout-wrap>
                    <md-button class="md-raised md-primary" ng-click="back()">Back</md-button>
                    <md-button class="md-raised md-primary" ng-click="next()">Next</md-button>
                </section>
            </md-step>
            <md-step label=" ">
                <md-content layout="row">
                    <div flex="33" layout-align="center center">
                        <img ng-src="{{serie.Poster}}" alt="{{serie.Title}} ({{serie.Year}})">
                    </div>
                    <div flex>
                        <p>{{serie.Title}} ({{serie.Year}})</p>
                        <p>Plot: {{serie.Plot}}</p>
                        <p>Got is a amazing TV Show. What is your favorite season?</p>

                        <md-radio-group ng-model="answer.got" layout="row" flex>
                            <md-radio-button flex ng-repeat="s in range(serie.totalSeasons) track by $index" value="{{$index + 1}}" ng-click="getSeason($index)">
                                {{$index + 1}}
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                </md-content>
                <md-content>
                    <md-list ng-if="season">
                        <md-list-item class="md-hue-3">
                            <div layout="row" flex="100" class="md-hue-3">
                                <p flex="10"><strong>Episode</strong></p>
                                <p flex><strong>Title</strong></p>
                                <p flex="15"><strong>Released</strong></p>
                                <p flex="15"><strong>IMDB Rating</strong></p>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item ng-repeat="e in season.Episodes">
                            <div layout="row" flex="100">
                                <p flex="10"> {{ e.Episode }} </p>
                                <p flex> {{ e.Title }} </p>
                                <p flex="15"> {{ e.Released | date }} </p>
                                <p flex="15"> {{ e.imdbRating }} </p>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
                <section layout="row" layout-sm="column" layout-align="space-around center" layout-wrap>
                    <md-button class="md-raised md-primary" ng-click="back()">Back</md-button>
                    <md-button class="md-raised md-primary" ng-click="next()">Next</md-button>
                </section>
            </md-step>
            <md-step label=" ">
                <md-content>
                    <p flex layout="column">
                        We take too serious to choose restauant, everyday. What kind of food do you like?
                    </p>
                    <md-radio-group ng-model="answer.food" layout="row" layout-xs="column" layout-wrap flex>
                        <div flex="25" flex-xs="100">
                            <md-card>
                                <img ng-src="img/salad.jpg" class="md-card-image" alt="salad">
                                <md-card-actions layout="row" layout-align="center center">
                                    <md-radio-button value="Salad">

                                    </md-radio-button>
                                </md-card-actions>
                                <md-card-title>
                                    <md-card-title-text layout-align="center center">
                                        <span class="md-headline">I am an insect.</span>
                                    </md-card-title-text>
                                </md-card-title>
                            </md-card>
                        </div>
                        <div flex="25" flex-xs="100">
                            <md-card>
                                <img ng-src="img/pasta.jpg" class="md-card-image" alt="pasta">
                                <md-card-actions layout="row" layout-align="center center">
                                    <md-radio-button value="Pasta">

                                    </md-radio-button>
                                </md-card-actions>
                                <md-card-title>
                                    <md-card-title-text layout-align="center center">
                                        <span class="md-headline">I love pasta.</span>
                                    </md-card-title-text>
                                </md-card-title>
                            </md-card>
                        </div>
                        <div flex="25" flex-xs="100">
                            <md-card>
                                <img ng-src="img/steak.jpg" class="md-card-image" alt="steak">
                                <md-card-actions layout="row" layout-align="center center">
                                    <md-radio-button value="Meat">

                                    </md-radio-button>
                                </md-card-actions>
                                <md-card-title>
                                    <md-card-title-text layout-align="center center">
                                        <span class="md-headline">Gimme meat.</span>
                                    </md-card-title-text>
                                </md-card-title>
                            </md-card>
                        </div>
                        <div flex="25" flex-xs="100">
                            <md-card>
                                <img ng-src="img/burritos.jpg" class="md-card-image" alt="burritos">
                                <md-card-actions layout="row" layout-align="center center">
                                    <md-radio-button value="Any food">

                                    </md-radio-button>
                                </md-card-actions>
                                <md-card-title>
                                    <md-card-title-text layout-align="center center">
                                        <span class="md-headline">It is food?I am in.</span>
                                    </md-card-title-text>
                                </md-card-title>
                            </md-card>
                        </div>
                    </md-radio-group>
                </md-content>
                <section layout="row" layout-sm="column" layout-align="space-around center" layout-wrap>
                    <md-button class="md-raised md-primary" ng-click="back()">Back</md-button>
                    <md-button class="md-raised md-primary" ng-click="next()">Next</md-button>
                </section>
            </md-step>
            <md-step label=" ">
                <md-content>
                    <p>Review</p>
                    <md-content flex>
                        <div layout="row" layout-xs="column" flex="100">
                            <md-input-container flex>
                                <label>Your favorite commic superhero</label>
                                <input type="text" ng-model="answer.superhero" readonly>
                            </md-input-container>
                            <md-input-container flex>
                                <label>TV serie you currently watching</label>
                                <input type="text" ng-model="answer.serie" readonly>
                            </md-input-container>
                        </div>
                        <div layout="row" layout-xs="column" flex="100">
                            <md-input-container flex>
                                <label>Wich one you use: Bolacha or Biscoito</label>
                                <input type="text" ng-model="answer.cookies" readonly>
                            </md-input-container>
                            <md-input-container flex>
                                <label>What is the best quote ever</label>
                                <input type="text" ng-model="answer.quote" readonly>
                            </md-input-container>
                        </div>
                        <div layout="row" layout-xs="column" flex="100">
                            <md-input-container flex>
                                <label>Your favorite Star Wars Movie</label>
                                <input type="text" ng-model="answer.starWars" readonly>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Your favorite GOT Season</label>
                                <input type="text" ng-model="answer.got" readonly>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Your kind of food</label>
                                <input type="text" ng-model="answer.food" readonly>
                            </md-input-container>
                        </div>
                    </md-content>
                </md-content>
                <section layout="row" layout-sm="column" layout-align="space-around center" layout-wrap>
                    <md-button class="md-raised md-primary" ng-click="back()">Back</md-button>
                    <md-button class="md-raised md-primary" ng-click="next()">Next</md-button>
                </section>
            </md-step>
        </md-stepper>
    </div>

    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/node_modules/angular-material/angular-material.js"></script>
    <script src="/node_modules/material-steppers/dist/material-steppers.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/main.services.js"></script>
    <script src="js/main.controllers.js"></script>

</body>

</html>